<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <img style="width:120px; height:100px;" src="/favicon.ico">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </body>
</html>

